@import './variable.styl';

.check-tips{
  .van-dialog__message{
    text-align: center;
  }
  .van-button__text{
    color:$color-text-active;
  }
}
.van-tabs__line {
    background-color: $color-text-active !important;
  }
.van-tab--active {
    color: $color-text-active !important;
  }